@{
    ViewData["Title"] = "Headers & Cookies Sample";
}

<div id="revealView" style="flex:1">

</div>
@section Scripts
    {
    <script type="text/javascript">
        WebFont.load({
            custom: {
                families: ['Roboto-Regular', 'Roboto-Bold', 'Roboto-Medium', 'Roboto-Light']
            },
            active: function () {
                renderDashboard();
            },
        });

        function renderDashboard() {
            var dashboardId = "HeadersAndCookies";
            $.ig.RVDashboard
                .loadDashboardAsync(dashboardId)
                .then(dashboard => {
                    var revealView = new $.ig.RevealView("#revealView");
                    revealView.dashboard = dashboard;
                })
                .catch(error => console.error(error));
        }
    </script>
}