@{
    ViewData["Title"] = "Headers & Cookies Sample";
}

<div id="revealView" style="flex:1">

</div>
@section Scripts
    {
    <script type="text/javascript">
        async function renderDashboard(){
            await $.ig.RevealSdkSettings.ensureFontsLoadedAsync();

            let dashboardId = "HeadersAndCookies";
            let dashboard = await $.ig.RVDashboard.loadDashboardAsync(dashboardId);

            let revealView = new $.ig.RevealView("#revealView");
            revealView.dashboard = dashboard;
        }
        renderDashboard().catch(error => console.error(error))
    </script>
}