@font-face {
    font-family: "Roboto-Regular";
    src: url("Roboto-Regular.ttf?v=1.0");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("Roboto-Bold.ttf?v=1.0");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("Roboto-light.ttf?v=1.0");
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("Roboto-Medium.ttf?v=1.0");
}


html {
  min-height: 100%;
  display:flex;
}

body {
    position: relative;
    min-height: 100%;
    flex:1;
    display: flex;
}
